<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">Gestión de Remodelación</span>
  <span class="spacer"></span>

  <div class="user-info-display" *ngIf="isAuthenticated">
    <div class="user-details-hover hide-on-mobile">
      <span class="username-display mat-body-1">{{ userName }}</span>
      <span class="user-role-tooltip mat-caption">{{ userRole | titlecase }}</span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>