@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-sidenav-container {
  height: calc(100vh - 128px); /* Ajusta la altura para el header y footer */
  margin-top: 64px; /* Margen superior para el header */
  margin-bottom: 64px; /* Margen inferior para el footer */
}

mat-sidenav {
  transition: width 0.3s ease; /* Animación para abrir/cerrar el sidebar */
}

mat-sidenav-content {
  padding: 16px;
}